body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;  /* Adjust this value to change the height of the header */
    background-color: #001eff;  /* Change this to your desired header background color */
}

h1 {
    color: white;  /* Text color of the header title */
    font-size: 2.5em;
    margin: 0;
}






body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* spacing between child elements */
}

.address-line {
    display: flex;
    gap: 10px;
}

input#address {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

.status {
    text-align: center;
    color: #2f0494;
}

.recent-addresses {
    margin-top: 20px;
}

#weather-info {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#my-map {
    margin-top: 20px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (max-width: 992px)  {
    
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 500px) {

}